<!DOCTYPE html>
<html>
<head>
	<title>予定削除</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
	<body class="container">
	<div class="py-sm-3">
		<div class="d-flex flex-row">
			<div class="flex-fill bg-secondary text-white border text-center fs-1 col-3">Calender</div>
			<div class="flex-fill bg-secondary text-white border text-end fs-1">　　　　予定一覧</div>
			<div class="flex-fill bg-secondary text-white border text-end fs-1">　　　　カレンダー</div>
			<div class="flex-fill bg-secondary text-white border text-center fs-1 col-3">ユーザ名</div>
		</div>
	</div>
	<form method="post" action="/delete" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}" />
		<div class="mb-3 py-sm-3 text-center">
			<h1 class="fs-1">本当に削除しますか？</h1>
			<div class="text-center">
				<input type="submit" class="btn btn-primary" value="Delete"></input>
			</div>
		</div>
	</form>
	</body>
</html>