<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>カレンダー表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        displayEventTime: true,
        displayEventEnd: true,
        timeFormat: 'H:mm',
        buttonText: {
            today: '今日',
            month: '今月の予定',
            week: '週',
            day: '日'
        },
        monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        businessHours: true,
        events: {
            url: '/api/event/all',
        },
  eventLimit: true, // 同じ日の表示の制御
    views: {
      month: {
      eventLimit: 3 ,// 3件目を非表示
      eventLimitText: "もっと見る"
    }
  }
    });
});
</script>

</head>
<body class="container">     
<form th:action="@{/logout}" method="post">
        <input type="submit" name="logout" class="btn btn-secondary" value="ログアウト"/>
    </form>
	  
		<div class="py-sm-3">
		<div class="row d-flex flex-row">
			<div class="flex-fill bs-light text-white  border text-center fs-1 col-xs-3 col-lg-3"><a  th:href="@{/schedulelist}" class="text-decoration-none text-secondary">予定一覧</a></div>
			<div class="flex-fill bs-light text-white border text-center fs-1 col-xs-3 col-lg-3"><a  th:href="@{/}" class="text-decoration-none text-secondary">カレンダー</a></div>
			<div class="flex-fill bg-secondary text-white border text-center fs-1 col-xs-3 col-lg-3">[[${user.getFullname()}]]</div>
		</div>
	</div>
	  
  <div id='calendar'>
<div>
	<a th:href="@{/create}" class="p-1">
	 <button class=" btn btn-primary fixed-button" >＋</button>
	</a>
</div>

</body>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    
  }

  #calendar {
    max-width: 900px;
    margin:  auto;
  }
  

.button a:hover:before {
    width: 100%;
    z-index: -1;
}   
 .fixed-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }

</style>
</html>