<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>カレンダー表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
	
	<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
	<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
	<script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#calendar').fullCalendar({
				plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
				},
				// ボタン文字列
				buttonText: {
					today: '今日',
					month: '今月の予定',
					week: '週',
					day: '日'
				},
				// 月名称
				monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
				// 月略称
				monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
				// 曜日名称
				dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
				// 曜日略称
				dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],

				navLinks: true, // can click day/week names to navigate views
				businessHours: true, // display business hours
				editable: true,
				events: {
					url: '/api/event/all',
				}
			});
		});
	</script>
</head>

<body class="container">
	<div class="py-sm-3">
		<div class="row d-flex flex-row">
			<div onclick="location.href='http://localhost:8080'" class="flex-fill bg-secondary text-white border text-center fs-1 col-xs-3 col-lg-3">Calender</div>
			<div onclick="location.href='http://localhost:8080/schedulelist'" class="flex-fill bg-secondary text-white border text-center fs-1 col-xs-3 col-lg-3">予定一覧</div>
			<div onclick="location.href='http://localhost:8080'" class="flex-fill bg-secondary text-white border text-center fs-1 col-xs-3 col-lg-3">カレンダー</div>
			<div class="flex-fill bg-secondary text-white border text-center fs-1 col-xs-3 col-lg-3">ユーザー</div>
		</div>
	</div>
	<div id='calendar'>
	</div>
	<div class="btn btn-primary position-sticky">
		<a onclick="location.href='http://localhost:8080/create'">予定登録</a>
	</div>
</body>
<style>
	#calendar {
		max-width: 900px;
		margin: auto;
	}
</style>

</html>