<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>子どもマスタ｜子どものお小遣い帳アプリ</title>
</head>
<body>
    <header></header>
    <main>
        <h1>子どもマスタ</h1>
        <div th:text="${message}"></div>
        <table border="1">
            <tr>
                <th>名前</th>
                <th>生年月日</th>
                <th>年齢</th>
                <th>操作</th>
            </tr>
            <tr th:each="child: ${children}">
                <td th:text="${child.name}"></td>
                <td th:text="${child.birthday}"></td>
                <td>TODO</td>
                <th>
                    <button th:attr="onclick='location.href=\'/children/edit?id=' + ${child.childId} + '\''">編集</button>
                    <button th:attr="onclick='location.href=\'/children/remove?id=' + ${child.childId} + '\''">削除</button>
                </th>
            </tr>
        </table>
        <a href="/children/register">子どもを登録</a>
    </main>
    <footer>
        <a href="/">トップページ</a>
    </footer>
    		<input type="hidden" name="id" th:value="*{id}"/>
		<input type="hidden" name="title" th:value="*{title}">
		<input type="hidden" name="start" th:value="*{body}">
		<input type="hidden" name="start" th:value="*{backgroundColor}">
		<input type="hidden" name="start" th:value="*{start}">
		<input type="hidden" name="start" th:value="*{end}">
		<style>
			.err {
				color: red
			}
		</style>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>title</th>
					<th>body</th>
					<th>backgroundColor</th>
					<th>start</th>
					<th>end</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${data}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.title}"></td>
					<td th:text="${item.body}"></td>
					<td th:text="${item.backgroundColor}"></td>
					<td th:text="${item.start}"></td>
					<td th:text="${item.end}"></td>
					        <td th:text="${item.datetime}"></td>
					<th>
						<button th:attr="onclick='location.href=\'/edit/' + ${item.id} + '\''" class="btn btn-primary">編集</button>
						<button th:attr="onclick='location.href=\'/delete/' + ${item.id} + '\''" class="btn btn-danger">削除</button>

					</th>
				</tr>
			</tbody>
		</table>
</body>
</html>